.category-item {
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 3px;
  padding: 0.4rem;
  overflow: hidden;
  background: white;
  color: rgb(122, 11, 150);
  max-height: 10vh;
}

.category-item:hover,
.category-item:active {
  background: #ffd900;
}
