.App {
  text-align: center;
}

.navbarStyle {
  background-color: #4d34c1;
  height: 112px;
}

#searchField {
  background-color: #4d34c1;
  border-color: transparent;
  width: 90%;
}

#searchbar {
  filter: brightness(80%);
}

::placeholder {
  color: white;
}

/* button {
  background-color: transparent;
  border: transparent;
  color: white;
} */

#search {
  padding-top: 10px;
}

.buttonStyle {
  font-family: monospace;
  font-size: large;
}

/* button:hover {
  text-decoration: underline;
  text-decoration-style: solid;
} */

#buttons {
  margin-top: 10px;
}

.table {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.inTableButton {
  background-color: #4d34c1;
  border-radius: 5px;
}


button {
  color: white;
  background: transparent;
  border: none;
  margin: 30px auto 0;
  display: block;
  font-size: 20px;
  outline: none;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

button:before {
  content: '';
  border-bottom: 1px solid white;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover:before {
  width: 100%;
  padding: 0;
}

button:active {
  background: #000;
  color: #fff;
  -webkit-transition: none;
  transition: none;
}