
.App {
  text-align: center;
  
}

textarea {
  width: 400px;
  height: 100px;
  background-color:#e4e4e4 ;
}

.description {
  display: inline;
}

.dir {
  text-align: center;
}

span {
  font-weight: 500;
}

.postStyle {
  border: 1px #4d34c1 solid;
}

.category {
  border-radius: 30px;
  color: white;
  background-color: #cfcfcf;
  margin-right: 5px;
  border: none;
  height: 50px;
}

#categoryForm {
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  text-align: left;

}

.PostDetails {
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  padding-bottom: 40px;
  border-radius: 5px;
  border-radius: 5px;
}

select {
  background-color: #e4e4e4;
  border-color: transparent;
  width: 250px;
  height: 30px;
}

.Input {
  background-color: #e4e4e4;
  border-color: transparent;
}

.InputStyle {
  background-color: #e4e4e4;
  border-color: transparent;
  width: 250px;
  height: 30px;
}

.contact {
  height: 210px;
  border-radius: 5px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

#imageForm {
  height: 210px;
  line-height: 210px;
  font-weight: bolder;
}

.SendButton {
  background-color: #4d34c1;
  width: 250px;
  height: 40px;
  margin-bottom: 50px;
  color: white;
  border-radius: 20px;
  font-weight: bolder;
}
