.dateTimeInput {
  border-radius: 20px;
  text-align: center;
  border-color: transparent;
  background-color: #4d34c1;
  color: white;
  width: 200px;
}

#datesANDduser {
  margin-top: 10px;
}

.usersInfo {
  text-align: center;
}