.navbarStyle {
  background-color: #4d34c1;
  height: 112px;
  width: 100%;
}

svg {
  margin-top: 5px;
}

.logo {
  width: 70px;
  text-align: left;
}

.userImg {
  width: 2em;
  height: 2em;
  border-radius: 30px;
  border: rgb(65, 61, 61) 1px solid;
  margin-top: 5px;
}


.linkstyle {
  color: white;
  text-decoration: none;
}

.linkstyle {
  color: white;

}

#buttons {
  margin-top: -5px;
}

button.buttonStyle {
  color: white;
  background: transparent;
  border: none;
  /* margin: 30px auto 0; */
  display: block;
  font-size: large;
  font-family: monospace;
  outline: none;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

button.buttonStyle:before {
  content: "";
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  -webkit-transition: 3s;
  transition: 0.2s;
}

button.buttonStyle:hover:before {
  border-bottom: 1px solid white;
  width: 100%;
  padding: 0;
  color: white;

}

button.buttonStyle:active {
  color: #fff;
  -webkit-transition: none;
  transition: none;
}

#searchbar {
  filter: brightness(80%);
}

::placeholder {
  color: white;
}

#spinner {
  position: absolute;
  top: 150px;

}

.table {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.inTableButton {
  background-color: #4d34c1;
  border-radius: 5px;
  border-color: transparent;
  color: white;
  width: 100%;
}

.TableHeadStyle {
  cursor: pointer;
  color: #333333;
  opacity: 0.6;
}

#NameHead {
  width: 110px;
}

.sendBurronStyle {
  color: #333333;
  opacity: 0.6;
}

.textareaStyle {
  width: 100%;
  height: 80px;
  background-color: #f7f8fa;
  border-color: transparent;
}

.modalBTN {
  background-color: #4d34c1;
  border-color: transparent;
  height: 38px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}